* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background: #09212A;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background: #0d3340;
    display: flex;
    justify-content: center;
    padding: 20px 140px 20px 140px;
    margin-bottom: 40px;
}

.logoImgH {
    height: 32px;
}

.logoImgH img {
    height: 32px;
}

/* MAIN CONTENT */
main {
    display: flex;
    flex-grow: 1;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 40px 0 40px 0;
}

h1 {
    font-family: Figtree-ExtraBold;
    color: #fff;
    text-align: center;
}

.img-container {
    height: 150px;
    width: 150px;
    border: 2px solid #124658;
    border-radius: 16px;
    overflow: hidden;
}

.img-container img {
    height: 150px;
    width: 150px;
}

/* FOOTER */
footer {
    height: 100px;
    background: #0d3340;
    display: flex;
    justify-content: center;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.footerImgTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.logoImgF {
    margin-top: 16px;
}

.footerText p {
    color: #fff;
    margin-bottom: 16px;
    font-family: Figtree-Regular;
}

/* DIALOG */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 40px;
    padding: 32px 16px 32px 16px;
    background: #09212A;
    height: 75%;
    width: 375px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    outline: none;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
    display: flex;
}

dialog main {
    padding: 0;
}

#myDialog header {
    background: none;
    padding: 0;
}

#myDialog header img {
    position: absolute;
    top: 16px;
    left: 88%;
    cursor: pointer;
}

#myDialog section {
    height: 400px;
    width: 330px;
    margin-bottom: 80px;
}


#myDialog #imgDialog {
    height: 400px;
    width: 330px;
    object-fit: cover;
    overflow: hidden;
}

#myDialog footer {
    background: none;
    font-family: Figtree-Medium;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

#myDialog footer #imgCounter {
    width: 40px;
    text-align: center;
}

/* MOBILE TABLET ULTRAWIDE */
@media (min-width: 991px) {
    dialog {
        width: 675px;
    }

    #myDialog section {
        height: 400px;
        width: 600px;
    }


    #myDialog #imgDialog {
        height: 400px;
        width: 600px;
    }
}

@media (min-width: 1280px) and (max-width: 1920px) {
    header {
        justify-content: flex-start;
    }

    main {
        padding-left: 140px;
        padding-right: 140px;
    }


}

@media (min-width: 1440px) {
    header {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }

    main {
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}

@media(max-width: 3440px) and (min-width: 1921px) {
    header {
        justify-content: flex-start;
    }

    dialog {
        width: 600px;
        height: 45%;
    }
}

/* FONTS */
@font-face {
    font-family: 'Figtree-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Figtree-Regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Figtree-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Figtree-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Figtree-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Figtree-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    /* Legacy iOS */
}

@font-face {
    font-family: 'Figtree-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Figtree-Medium.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Figtree-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Figtree-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Figtree-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Figtree-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    /* Legacy iOS */
}

@font-face {
    font-family: 'Figtree-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Figtree-Bold.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Figtree-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Figtree-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Figtree-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Figtree-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    /* Legacy iOS */
}

@font-face {
    font-family: 'Figtree-ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Figtree-ExtraBold.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Figtree-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Figtree-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Figtree-ExtraBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Figtree-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
    /* Legacy iOS */
}